<div class="container my-5">
  <div class="mb-3">
    <h1>About</h1>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="text-center">
        <img src="assets/IMG-20230604-WA0000.jpg" class="w-100" />
        <p class="mt-5">
          Made with <img src="assets/heart-icon.png" class="heart-icon" /> in Cambridge, MA by <a href="https://www.setfive.com" target="_blank">Setfive</a>
        </p>

        <p class="mt-3">
          Want to say hi? Email us at <a href="mailto:contact@setfive.com">contact@setfive.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
