<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Dr. Lurker: SIFT</a>
    <button class="navbar-toggler" type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a (click)="isMenuCollapsed = true" class="nav-link" [class.active]="isActive('home')" [routerLink]="['/']">Devices</a>
        <a (click)="isMenuCollapsed = true" class="nav-link" [class.active]="isActive('product-codes')" [routerLink]="['/product-codes']">Product Codes</a>
        <a (click)="isMenuCollapsed = true" class="nav-link" [class.active]="isActive('companies')" [routerLink]="['/companies']">Companies</a>
        <a (click)="isMenuCollapsed = true" class="nav-link" [class.active]="isActive('about')" [routerLink]="['/about']">About</a>
      </div>
    </div>
  </div>
</nav>
<app-toast></app-toast>
<router-outlet></router-outlet>
