<div class="container my-5">
  <div class="mb-3">
    <h1>510(k) Sift</h1>
  </div>

  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">Search</div>
      <div class="card-body">
        <form [formGroup]="form" (submit)="submit()">
          <div class="row">
            <div class="col-9">
              <label for="deviceName" class="form-label">Device Name</label>
              <input type="text" class="form-control" id="deviceName" formControlName="deviceName" />
            </div>
            <div class="col-3">
              <label for="kNumber" class="form-label">510K Number</label>
              <input type="text" class="form-control" id="kNumber" formControlName="kNumber" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <label for="decision" class="form-label">Decision</label>
              <select formControlName="decision" id="decision" class="form-control">
                <option [ngValue]="null"></option>
                <option *ngFor="let item of DECISIONS" [ngValue]="item.key">
                  {{ item.value }}
                </option>
              </select>
            </div>
            <div class="col-6">
              <label for="decisionDateGte" class="form-label">Decision Date</label>
              <div class="d-flex">
                <input type="text" class="form-control" id="decisionDateGte" placeholder="2000-01-01" formControlName="decisionDateGte" />
                <div class="mx-2">to</div>
                <input type="text" class="form-control" id="decisionDateLte" placeholder="2000-01-01" formControlName="decisionDateLte" />
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="productCodes" class="form-label">Product Codes</label>
              <input type="text" class="form-control" id="productCodes" formControlName="produceCodes">
              <p  class="mb-0 mt-1 text-secondary small">Separate multiple with a comma (,)</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="company" class="form-label">Company</label>
              <input type="text" class="form-control" id="company" formControlName="company" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 d-flex justify-content-end">
               <div *ngIf="loading" class="me-2">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 mt-5" *ngIf="result">
    <table class="table table-bordered table-striped table-sm data-table">
      <thead>
        <tr *ngIf="!noResults">
          <td colspan="4">{{ result.total }} results</td>
        </tr>
        <tr>
          <th class="wd-10">510K Number</th>
          <th>Decision Date</th>
          <th>Applicant</th>
          <th>Device</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="noResults">
          <td colspan="4" class="text-center">No Results</td>
        </tr>
        <tr *ngFor="let row of result.data">
          <td>
            <a [innerHTML]="row.knumber" [routerLink]="['/view/', row.knumber]"></a>
          </td>
          <td [innerHTML]="row.decisionDate"></td>
          <td [innerHTML]="row.applicant"></td>
          <td [innerHTML]="row.deviceName"></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="result.paginated" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item" *ngIf="page > 1"><button (click)="go(page - 1)" class="page-link">Previous</button></li>
        <li *ngFor="let p of pages" class="page-item" [class.current]="p === page">
          <button (click)="go(p)" class="page-link" [innerHTML]="p"></button>
        </li>
        <li class="page-item" *ngIf="page < pages[pages.length - 1]"><button (click)="go(page + 1)" class="page-link">Next</button></li>
      </ul>
    </div>
  </div>
</div>
