<ng-template #deviceNameContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Device Name Search</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>
      Search is normally implemented through some variation of "does the text include the query" algorithm.
      Modern search engines add some sophisticated features like stemming, lemmatization, and inverse ranking but at the core it's still "does the thing we're searching for contain the query".
    </p>

    <p>
      <strong>AI powered search works differently.</strong>
      <br>
      Instead of matching on text we instead use an AI model to create vectors of the text and compare the distances between the vectors.
      <br>
      You: Lol what?? Explain like I'm 5.
      <br>
      Sure, buckle up!
    </p>

    <p>
      GPT models (like what powers ChatGPT) work by encoding chunks of text as vectors.
      The vectors are a list of numeric values which capture the <i>semantic</i> value of the text in geometric space.
      For example, the vector for "dog" will be "close" to the vector for "canine" even though the text of the words are not similar at all.
    </p>

    <p>
      Because of this "closeness" property, we can compare how geometrically far the query vector is from the vectors of device names to find
      the ones that are the closest match.
      <br>
      So try a search for "cardiac pacemaker" and you'll see how the semantic search works.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<div class="container my-5">
  <div class="mb-3">
    <h1>510(k) Devices</h1>
  </div>

  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">Search</div>
      <div class="card-body">
        <form [formGroup]="form" (submit)="submit()">
          <div class="row">
            <div class="col-md-9">
              <label for="deviceName" class="form-label">Device Name <a (click)="showDeviceNameModal()">🤖</a></label>
              <input type="text" class="form-control" id="deviceName" formControlName="deviceName" />
            </div>
            <div class="col-md-3 mt-2 mt-md-0">
              <label for="kNumber" class="form-label">510K Number</label>
              <input type="text" class="form-control" id="kNumber" formControlName="kNumber" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label for="decision" class="form-label">Decision</label>
              <select formControlName="decision" id="decision" class="form-control">
                <option [ngValue]="null"></option>
                <option *ngFor="let item of DECISIONS" [ngValue]="item.key">
                  {{ item.value }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mt-2 mt-md-0">
              <label for="decisionDateGte" class="form-label">Decision Date</label>
              <div class="d-flex">
                <input type="text" class="form-control" id="decisionDateGte" placeholder="2000-01-01" formControlName="decisionDateGte" />
                <div class="mx-2">to</div>
                <input type="text" class="form-control" id="decisionDateLte" placeholder="2000-01-01" formControlName="decisionDateLte" />
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="productCodes" class="form-label">Product Codes</label>
              <input type="text" class="form-control" id="productCodes" formControlName="produceCodes">
              <p  class="mb-0 mt-1 text-secondary small">Separate multiple with a comma (,)</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="company" class="form-label">Company</label>
              <input type="text" class="form-control" id="company" formControlName="company" />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 d-flex justify-content-end">
               <div *ngIf="loading" class="me-2">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <strong>Sample searches:</strong>
              <ul>
                <li><button type="button" class="btn btn-link p-0" (click)="sampleSearch('bone')">Device name similar to "bone cement"</button></li>
                <li><button type="button" class="btn btn-link p-0" (click)="sampleSearch('stryker')">From Stryker, decision date after 2015</button></li>
                <li><button type="button" class="btn btn-link p-0" (click)="sampleSearch('sseSome')">Substantially equivalent for some indications</button></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="!hasSearch" class="col-md-8 offset-md-2 mt-5">
    <div class="card">
      <div class="card-header">FAQs</div>
      <div class="card-body">
        <div class="faq-container">
          <div class="faq">What is this thing?</div>
          <p>
            This is a tool to allow you to search and interact with the
            <a href="https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfpmn/pmn.cfm">US FDA's 510(k) dataset</a>.
          </p>
        </div>
        <div class="faq-container">
          <div class="faq">What makes it special?</div>
          <p>
            AI man!<br>
            We (<a href="https://setfive.com/" target="_blank">Setfive</a>) are excited about GPT/AI but we don't think the future is a bunch of chat bots.<br>
            We built this as a testbed to see how GPT can be used to enhance user experience versus powering a chat bot.
          </p>
        </div>
        <div class="faq-container">
          <div class="faq">How do I know where the AI is?</div>
          <p>
            It's a bit like a museum. Anytime you see a 🤖, click it and we'll explain what the AI is doing.
          </p>
        </div>
        <div class="faq-container">
          <div class="faq">Wishlist / future development</div>
          <p>
            Here's a few things that would be cool to keep building out:
          </p>
          <ul>
            <li>Extract the extract the indications for use from all the 510(k)s. Cost of compute is the limiting factor.</li>
            <li>Use GPT embeddings to make all the indications for use searchable and discover related ones.</li>
            <li>Build clusters of similar devices based on the similar device names and similar indications for use.</li>
          </ul>

          <p>
            The code is available on Github at <a href="https://github.com/Setfive/510k-sift" target="_blank">https://github.com/Setfive/510k-sift</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mt-5" *ngIf="result">
    <table class="table table-bordered table-striped table-sm data-table">
      <thead>
        <tr *ngIf="!noResults">
          <td colspan="4">{{ result.total }} results</td>
        </tr>
        <tr>
          <th class="wd-10">510K Number</th>
          <th>Decision Date</th>
          <th>Applicant</th>
          <th>Device</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="noResults">
          <td colspan="4" class="text-center">No Results</td>
        </tr>
        <tr *ngFor="let row of result.data">
          <td>
            <a [innerHTML]="row.knumber" [routerLink]="['/view/', row.knumber]"></a>
          </td>
          <td [innerHTML]="row.decisionDate"></td>
          <td [innerHTML]="row.applicant"></td>
          <td [innerHTML]="row.deviceName"></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="result.paginated" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item" *ngIf="page > 1"><button (click)="go(page - 1)" class="page-link">Previous</button></li>
        <li *ngFor="let p of pages" class="page-item" [class.current]="p === page">
          <button (click)="go(p)" class="page-link" [innerHTML]="p"></button>
        </li>
        <li class="page-item" *ngIf="page < pages[pages.length - 1]"><button (click)="go(page + 1)" class="page-link">Next</button></li>
      </ul>
    </div>
  </div>
</div>
