<ng-template #aiDescriptionModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Description</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
   <p>
     The FDA descriptions of 510(k) product codes are frustratingly short.
     For example, what types of devices and risks are associated with this product code: "{{ productCode?.deviceName }}"
   </p>
    <p>
      Here's the prompt we're sending to OpenAI:
    </p>
    <p>
      System: {{ productCode?.prompt?.system }}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<div class="container my-5" *ngIf="!productCode">
  <div class="row">
    <div class="col-12 text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>

<div class="container my-5" *ngIf="productCode">
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <h1>Product Code: {{ productCode.productCode }}</h1>
        <p class="text-secondary" [innerHTML]="productCode.deviceName"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header">Devices</div>
        <div class="card-body p-0">
          <div class="device-table">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <td colspan="4">{{ productCode.devices.length }} results</td>
              </tr>
              <tr>
                <th class="wd-10">510K Number</th>
                <th>Decision Date</th>
                <th>Applicant</th>
                <th>Device</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="productCode.devices.length === 0">
                <td colspan="4" class="text-center">No Devices</td>
              </tr>
              <tr *ngFor="let row of productCode.devices">
                <td>
                  <a [innerHTML]="row.knumber" [routerLink]="['/view/', row.knumber]"></a>
                </td>
                <td [innerHTML]="row.decisionDate"></td>
                <td [innerHTML]="row.applicant"></td>
                <td [innerHTML]="row.deviceName"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-header">
          Description
          <a (click)="showDescriptionModal()">🤖</a>
        </div>
        <div class="card-body">
          <p [innerHTML]="productCode.aiDescription"></p>

          <div *ngIf="!productCode.aiDescription && !loadingAIDescription" class="text-end">
            <button (click)="getAIDescription()" class="btn btn-primary">Ask ChatGPT</button>
          </div>

          <div *ngIf="loadingAIDescription" class="text-end">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <div class="text-end text-secondary small" *ngIf="productCode.aiDescription">From ChatGPT</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <ul class="m-0 list-unstyled">
            <li *ngIf="productCode.reviewPanel"><strong>Review Panel:</strong> {{ productCode.reviewPanel }}</li>
            <li *ngIf="productCode.medicalSpeciality"><strong>Medical Speciality:</strong> {{ productCode.medicalSpeciality }}</li>
            <li *ngIf="productCode.regulationNumber"><strong>CFR:</strong> {{ productCode.regulationNumber }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
