<ng-template #aiSimilarDevicesModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Similar Devices</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>The similar devices are determined by comparing the vectors of the device names and finding the ones that are the most similar.</p>

    <p>
      GPT models (like what powers ChatGPT) work by encoding chunks of text as vectors.
      The vectors are a list of numeric values which capture the <i>semantic</i> value of the text in geometric space.
      For example, the vector for "dog" will be "close" to the vector for "canine" even though the text of the words are not similar at all.
    </p>

    <p>
      We can use this "closeness" to to find the device names that are most similar.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #aiMarketAudienceModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Target Marketing Audience</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>One of the challenges of working for a medical device company in a marketing role without a technical background
      is not having a sense of what the subject device does, who it would be marketed to, and the potential patient population.</p>

    <p>But what if OpenAI/ChatGPT could help? Here is the prompt we're sending:</p>

    <p [innerHTML]="nl2br(device?.marketingAudiencePrompt?.system)"></p>
    <p [innerHTML]="nl2br(device?.marketingAudiencePrompt?.user)"></p>

    <hr />

    <p class="text-secondary">NOTE: If we've extracted the indications for use, it's included.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<div class="container my-5" *ngIf="loading">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container my-5">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header" [innerHTML]="device?.knumber"></div>
        <div class="card-body">
          <p>
            <strong>510(k) Number:</strong><br>
            {{ device?.knumber }}
          </p>
          <p>
            <strong>Device Name:</strong><br>
            {{ device?.deviceName }}
          </p>
          <p>
            <strong>Applicant:</strong><br>
            {{ device?.applicant }}<br>
            {{ device?.contact }}<br>
            {{ device?.address }}
          </p>
          <p>
            <strong>Decision:</strong><br>
            {{ device?.decisionLabel }} ({{ device?.decision }})
          </p>
          <p>
            <strong>Date Received:</strong><br>
            {{ device?.dateReceived }}
          </p>
          <p>
            <strong>Decision Date:</strong><br>
            {{ device?.decisionDate }}
          </p>
          <p>
            <strong>Produce Code:</strong><br>
            {{ device?.productCode }}
          </p>

          <p>
            <strong>Summary/Statement:</strong><br>
            <a target="_blank" href="{{ device?.summaryStatementURL }}" [innerHTML]="device?.summaryStatementURL"></a>
          </p>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">
          Similar Devices
          <a (click)="showSimilarDevicesModal()">🤖</a>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>510(k) Number</th>
                <th>Product Code</th>
                <th>Device Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of device?.similarDevices">
                <td><a [innerHTML]="item.knumber" [routerLink]="['/view/', item.knumber]"></a></td>
                <td>{{ item.productCode }}</td>
                <td>{{ item.deviceName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">Indications for use</div>
        <div class="card-body">
          <p [innerHTML]="device?.indicationsForUseAI"></p>

          <div *ngIf="!device?.indicationsForUseAI" class="text-end">
            <button (click)="extractIFU()" class="btn btn-primary">Extract with ChatGPT</button>
          </div>

          <div class="text-end text-secondary small" *ngIf="device?.indicationsForUseAI">From ChatGPT</div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">
          Target Marketing Audience
          <a (click)="showMarketingAudienceModal()">🤖</a>
        </div>
        <div class="card-body">
          <p [innerHTML]="device?.deviceMarketingAudience"></p>

          <div *ngIf="!device?.deviceMarketingAudience && !loadingMarketingAudience" class="text-end">
            <button (click)="getMarketingAudience()" class="btn btn-primary">Ask ChatGPT</button>
          </div>

          <div class="text-end text-secondary small" *ngIf="device?.deviceMarketingAudience">From ChatGPT</div>
        </div>
      </div>
    </div>
    <div class="col-4" *ngIf="productCodeDto">
      <div class="card">
        <div class="card-header">Product Code Details</div>
        <div class="card-body">
          <p>
            <strong>Produce Code:</strong><br>
            <a [innerHTML]="productCodeDto.productCode" [routerLink]="['/product-codes/', productCodeDto.productCode]"></a>
          </p>
          <p>
            <strong>Name:</strong><br>
            {{ productCodeDto.deviceName }}
          </p>
          <p>
            <strong>Class:</strong><br>
            {{ productCodeDto.deviceClass }}
          </p>
          <p>
            <strong>Regulation:</strong><br>
            {{ productCodeDto.regulationNumber }}
          </p>
          <p>
            <strong>Review Panel:</strong><br>
            {{ productCodeDto.reviewPanel }}
          </p>
        </div>
      </div>
      <div class="card mt-5" *ngIf="device?.relatedKNumbers">
        <div class="card-header">Related Submissions</div>
        <div class="card-body">
          <ul>
            <li *ngFor="let k of device?.relatedKNumbers">
              <a [routerLink]="['/view', k]" [innerHTML]="k"></a>
            </li>
          </ul>
          <p class="text-secondary small">These are the K numbers referenced in the statement or summary.</p>
        </div>
      </div>
    </div>
  </div>
</div>
